body {
  background-color: rgb(49, 49, 49);
  /*color: white;*/
  text-align: center;
  margin-top: 10px;
}
#title, .title{
  color: white;

}






.navbar {
margin: 60px;
background-color: rgb(255, 255, 255);
border-radius: 15px;
gap: 20px;

}
a {
  text-decoration: none;
  gap: 10px; 
}
#container {
  gap: 20px;

  
  
}
.container {
  margin-top: 200px;
  

  max-width: 250px;
  

}

